*{
    margin: 0 0;
    text-align: center;
    background-color: rgb(238, 217, 237);
}
 form input, textarea{
    padding: 20px;
    text-align: center;
    display: block;
    margin-top: 20px;
    width: 40%;
    margin-left: 30%;
    background: rgb(230, 207, 150);

 }
 button{
    background: lightseagreen;
    color: aliceblue;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
 }
 button:hover{
    background: blue;
 }
 footer {
    background-color: aqua;
    margin-top: 20px;
 }
 h2{
    color: rgb(24, 20, 224);
    margin-top: 20px;
 }
 nav{
    background-color: rgb(167, 166, 231);
    padding: 10px;
    text-align: center;

 }
 nav a{
    font-weight: bold;
    color: azure;
    background-color: rgb(167, 166, 231);
    margin: 0 15px;
 }
 nav a:hover{
    color: blueviolet;
    background: aquamarine;
 }
 h1, header{
    background: aqua;
    margin-bottom: 30px;
    padding-top: 20px;
 }
 header{
   background: aqua;
    margin-bottom: 30px;
    padding-top: 20px; 
 }
 p{
    margin: 0 auto;
    width: 60%;
 }
 h3{
    margin-top: 15px;
 }
 .header img{
    width: 60%;
    height: 500px;
    padding: 0 0;
    margin-bottom: 15px;
    border-radius: 20px;
    margin-top: 15px;

 }

 .video{
   margin-top: 20px;
   object-fit: cover;
   width: 100%;
   height: 400px;
 }

 @media (max-width: 760px){
    .video{
        height:200px;
        object-position: center;
        max-width: none;
    }
 }
 @media(max-width:1022px){
    .video{
        height: 260px;
    }
 }